<html>
   
   <head>
     {% load static %}
     {% include "home.html" %}
     <div class="basic">
  </div>
       <link rel="stylesheet" href="{% static 'sample1.css' %}">
       <style>
        button{
          padding: 12px 10px;
        border: 0;
        background: linear-gradient(to right, #4857de 0%,#11034e63 100%); 
        border-radius: 3px;
        margin-top: 10px;
        color: #fff;
        letter-spacing: 1px;
        font-family: 'Rubik', sans-serif;
        
        }
      </style>
   </head>

<div class="container">
  <div class="left">
    
    <div class="form">
        <form action="/adduser/" method="post">
          {% csrf_token %}
       
      <label>First Name</label>
      <br>
      <input type="Text" name="name1" class="form-field animation a4" placeholder="Type Your Name" required>
      <br><br>
      <label>Last Name</label>
      <br>
      <input type="text" name="name2" class="form-field animation a4" placeholder="Type Your last name" required>
      <br><br>
      <label>Email</label>
      <br>
      <input type="email" name="mail" class="form-field animation a4" placeholder="Type Your Email" required>
      <br><br>
      <label>Password</label>
      <br>
      <input type="password" name="password" class="form-field animation a4" placeholder="Type Password" required>
      <br><br>
      <!--<label>Username</label>
      <br>
      <input type="text" name="username" class="form-field animation a4" placeholder="Type the username " required>
      <br>
      <br>-->
      <button class="animation a6">SUBMIT</button>
    </form>
      
    </div>
  </div>
  <div class="right"></div>
</div>
</html>